<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Полица</th>
                <th scope="col">Срок</th>
                <th scope="col">МПС</th>
                <th scope="col">Собственик</th>
                <th scope="col">Вноска</th>
                <th scope="col">No</th>
                <th scope="col" style="width: 120px">Падеж</th>
                <th scope="col" style="width: 120px">Напомняне?</th>
                <th scope="col" style="width: 50px">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% if payments|length %}
            {% for payment in payments %}
                <tr>
                    <td>{{ payment.policy.policyType.name }}</td>
                    <td>
                        {{ payment.policy.startsAt|date('d.m.y') }} - {{ payment.policy.expiresAt|date('d.m.y') }}
                    </td>
                    <td>{{ payment.policy.car.carMake }} {{ payment.policy.car.carModel }}</td>
                    <td>
                        {{ payment.policy.owner.firstName }} {{ payment.policy.owner.middleName }} {{ payment.policy.owner.lastName }}
                    </td>
                    <td>{{ payment.amountDue }}</td>
                    <td>{{ payment.paymentOrder }}</td>
                    {% set isOverdue = date('now') > date(payment.dueAt) %}
                    {% set isReminded = payment.isReminded %}
                    <td class="text-white text-center {{ isOverdue ? 'bg-danger' : 'bg-success' }}">
                        {{ payment.dueAt|date('d.m.y') }}
                        <span id="reminder-status-{{ payment.id }}" class="ml-1">
                            {% if payment.isReminded %}
                                <button type="button"
                                        data-reminder="{{ payment.reminder.fullName }}"
                                        data-reminded-at="{{ payment.remindedAt|date('d.m.Y H:i:s') }}"
                                        data-car-make="{{ payment.policy.car.carMake }}"
                                        data-car-model="{{ payment.policy.car.carModel }}"
                                        data-car-owner="{{ payment.policy.owner.fullName }}"
                                        data-payment-order="{{ payment.paymentOrder }}"
                                        data-due-at="{{ payment.dueAt|date('d.m.Y') }}"
                                        data-policy-type="{{ payment.policy.policyType.name }}"
                                        data-target="#reminderInfoModal"
                                        class="text-white btn btn-link btn-sm modal-popup">
                                    <i class="fas fa-bell"></i>
                                </button>
                            {% else %}
                                <button type="button"
                                        class="text-white btn btn-link btn-sm">
                                    <i class="far fa-bell-slash"></i>
                                </button>
                            {% endif %}
                        </span>
                    </td>
                    <td class="text-center">
                        <select data-payment-id="{{ payment.id }}" class="payment-reminder form-control form-control-sm">
                            <option value="0"{{ (payment.isReminded ? '' : ' selected="selected"')|raw }}>НЕ</option>
                            <option value="1"{{ (payment.isReminded ? ' selected="selected"' : '')|raw }}>ДА</option>
                        </select>
                    </td>
                    <td class="text-center">
                        <a href="{{ path('policy_edit', {'id': payment.policyId}) }}" target="_blank" class="btn btn-sm btn-secondary" title="Редактирай"><i class="fas fa-edit"></i></a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="9" class="text-muted">Няма намерени плащания през периода.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>
