<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Полица</th>
                <th scope="col">Срок</th>
                <th scope="col">МПС</th>
                <th scope="col">Собственик</th>
                <th scope="col">Вноска</th>
                <th scope="col">No</th>
                <th scope="col">Падеж</th>
                <th scope="col">Напомняне?</th>
                <th scope="col">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% if payments|length %}
            {% for payment in payments %}
                <tr>
                    <td>{{ payment.policy.policyType.name }}</td>
                    <td>
                        {{ payment.policy.startsAt|date('d.m.y') }} - {{ payment.policy.expiresAt|date('d.m.y') }}
                    </td>
                    <td>{{ payment.policy.car.carMake }} {{ payment.policy.car.carModel }}</td>
                    <td>
                        {{ payment.policy.owner.firstName }} {{ payment.policy.owner.middleName }} {{ payment.policy.owner.lastName }}
                    </td>
                    <td>{{ payment.amountDue }}</td>
                    <td>{{ payment.paymentOrder }}</td>
                    <td>{{ payment.dueAt|date('d.m.y') }}</td>
                    <td></td>
                    <td class="text-center">
                        <a href="{{ path('policy_edit', {'id': payment.policyId}) }}" target="_blank" class="btn btn-sm btn-secondary" title="Редактирай"><i class="fas fa-edit"></i></a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="9" class="text-muted">Няма намерени плащания през периода.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>
