{% extends 'base.html.twig' %}

{% block title %}Моят профил{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('user_index') }}">Списък</a></li>
            <li class="breadcrumb-item active" aria-current="page">Моят профил</li>
        </ol>
    </nav>
{% endblock %}

{% block body %}
    <h3>Моят профил</h3>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.full_name) }}
                        {{ form_row(form.email) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.old_password) }}
                        {{ form_row(form.new_password) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Роли:</label>
                        <ul class="list-unstyled">
                            {% for role in user.profileRoles %}
                                <li>{{ role.title }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <button type="submit" class="btn btn-dark"><i class="fa fa-check"></i> Съхрани</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
      $(function () {
        window.setTimeout(function () {
          $('#old_password, #new_password').val('')
        }, 100)
      })
    </script>
{% endblock %}
