{% extends 'base.html.twig' %}

{% block title %}Стикер No {{ sticker.idNumber }}{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('sticker_index') }}">Списък</a></li>
            <li class="breadcrumb-item active" aria-current="page">Стикер No {{ sticker.idNumber }}</li>
        </ol>
    </nav>
{% endblock %}

{% block body %}
    <h3>Редактиране на стикер</h3>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.idNumber) }}
                    {{ form_row(form.agent) }}
                    {{ form_row(form.givenAt) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.receivedAt) }}
                    {{ form_row(form.insurer) }}
                    {{ form_row(form.isCancelled) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="{{ path('sticker_index') }}" class="btn btn-secondary"><i
                                class="fas fa-undo-alt"></i> Отмени</a>
                    <button type="submit" class="btn btn-dark float-right"><i class="fa fa-check"></i> Съхрани</button>
                    <a href="#"
                       data-href="{{ path('sticker_delete', {'id': sticker.id}) }}"
                       data-toggle="modal"
                       data-target="#confirm-delete"
                       data-message="Сигурни ли сте, че искате да изтриете този стикер?"
                       title="Моля, потвърдете"
                       class="btn btn-danger float-right mr-2"><i class="far fa-trash-alt"></i> Изтрий</a>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
