<div class="card-body">
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.owner.firstName) }}
            {{ form_row(form.owner.middleName) }}
            {{ form_row(form.owner.lastName) }}
            {{ form_row(form.owner.idNumber) }}
            {{ form_row(form.owner.city) }}
            {{ form_row(form.owner.street) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.owner.email) }}
            {{ form_row(form.owner.email2) }}
            {{ form_row(form.owner.phone) }}
            {{ form_row(form.owner.phone2) }}
            {{ form_row(form.owner.notes) }}
        </div>
    </div>
</div>
