<div class="row">
    <div class="col-md-6">
        {{ form_row(form.firstName) }}
        {{ form_row(form.middleName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.idNumber) }}
        {{ form_row(form.city) }}
        {{ form_row(form.street) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.email) }}
        {{ form_row(form.email2) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.phone2) }}
        {{ form_row(form.notes) }}
    </div>
</div>
