<div class="card-body">
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.representative.firstName) }}
            {{ form_row(form.representative.middleName) }}
            {{ form_row(form.representative.lastName) }}
            {{ form_row(form.representative.idNumber) }}
            {{ form_row(form.representative.city) }}
            {{ form_row(form.representative.street) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.representative.email) }}
            {{ form_row(form.representative.email2) }}
            {{ form_row(form.representative.phone) }}
            {{ form_row(form.representative.phone2) }}
            {{ form_row(form.representative.notes) }}
        </div>
    </div>
</div>
