<div class="row">
    <div class="col-md-6">
        {{ form_row(form.firstName) }}
        {{ form_row(form.middleName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.idNumber) }}
        {{ form_row(form.city) }}
        {{ form_row(form.street) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.email) }}
        {{ form_row(form.email2) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.phone2) }}
        {{ form_row(form.notes) }}
        {% if deleteButton %}
            <a href="#"
               data-href="{{ path('car_representative_delete', {'car': car.id, 'representative': car.representative.id}) }}"
               data-toggle="modal"
               data-target="#confirm-delete"
               data-message="Сигурни ли сте, че искате да премахнете пълномощника?"
               title="Премахване"
               class="btn btn-danger btn-sm ml-2 mt-3 float-right"
            ><i class="far fa-trash-alt"></i></a>
        {% endif %}
    </div>
</div>