<div class="row">
    <div class="col-md-6">
        {% include 'policy/forms/policy.html.twig' %}
    </div>
    <div class="col-md-6">
        <div class="accordion" id="accordionCar">
            <div class="card">
                {% if policy.car %}
                    <div class="card-header" id="headingVehicle">
                        <h5 class="mb-0">
                            <a href="#" data-toggle="collapse" data-target="#collapseVehicle"
                               aria-expanded="true" aria-controls="collapseVehicle">
                                МПС:
                                <small>{{ policy.car.carType.name }} {{ policy.car.carMake }} {{ policy.car.carModel }} {{ policy.car.idNumber }}</small>
                            </a>
                        </h5>
                    </div>
                    <div id="collapseVehicle" class="collapse show" aria-labelledby="headingVehicle"
                         data-parent="#accordionCar">
                        <div class="card-body">
                            {% include 'car/forms/car.html.twig' with {'form': form.car, 'car': policy.car, 'refUrl': refUrl} only %}
                        </div>
                    </div>
                {% else %}
                    <div class="card-header">
                        <a href="{{ path('car_new_owner', {'car': car.id, 'type': 'owner', 'ref': refUrl}) }}"
                           title="Добави МПС" class="btn btn-warning float-right"
                        ><i class="fas fa-user-plus"></i> Добави МПС</a>
                    </div>
                {% endif %}
            </div>
            {% if policy.owner %}
                <div class="card">
                    <div class="card-header" id="headingOwner">
                        <h5 class="mb-0">
                            <a href="#" data-toggle="collapse" data-target="#collapseOwner"
                               aria-expanded="true" aria-controls="collapseOwner">
                                Собственик:
                                <small>{{ policy.owner.firstName }} {{ policy.owner.lastName }}</small>
                            </a>
                        </h5>
                    </div>
                    <div id="collapseOwner" class="collapse" aria-labelledby="headingOwner"
                         data-parent="#accordionCar">
                        <div class="card-body">
                            {% include 'car/forms/owner.html.twig' with {'form': form.owner} only %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if policy.representative %}
                <div class="card">
                    <div class="card-header" id="headingRepresentative">
                        <h5 class="mb-0">
                            <a href="#" data-toggle="collapse" data-target="#collapseRepresentative"
                               aria-expanded="true" aria-controls="collapseRepresentative">
                                Пълномощник:
                                <small>{{ policy.representative.firstName }} {{ policy.representative.lastName }}</small>
                            </a>
                        </h5>
                    </div>
                    <div id="collapseRepresentative" class="collapse" aria-labelledby="headingRepresentative"
                         data-parent="#accordionCar">
                        <div class="card-body">
                            {% include 'car/forms/representative.html.twig' with {'form': form.representative, 'deleteButton': false} only %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 mt-2">
        {% include 'policy/forms/payments.html.twig' %}
    </div>
</div>
