{% extends 'base.html.twig' %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('policy_index') }}">Списък</a></li>
            <li class="breadcrumb-item active" aria-current="page">Нова полица {{ policyType.name }} - Избор на МПС</li>
        </ol>
    </nav>
{% endblock %}

{% block body %}
    <h3>Нова полица {{ policyType.name }}
        <small class="text-muted">Избор на МПС</small>
    </h3>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="mb-0">Изберете съществуващо МПС</h5>
                </div>
                <div class="card-body pb-1">
                    {{ form_start(form_autocomplete, {'attr': {'novalidate': 'novalidate'}}) }}
                    <div class="form-row">
                        <div class="col">
                            {{ form_widget(form_autocomplete) }}
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-dark"><i class="fas fa-car"></i> Избери
                            </button>
                        </div>
                    </div>
                    {{ form_end(form_autocomplete) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">...ИЛИ въведете ново МПС</h5>
                </div>
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                <div class="card-body pb-1">
                    <div class="row">
                        <div class="col-md-3">
                            {{ form_row(form.carType) }}
                            {{ form_row(form.idNumber) }}
                            {{ form_row(form.carMake) }}
                            {{ form_row(form.carModel) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_row(form.idFrame) }}
                            {{ form_row(form.engineVol) }}
                            {{ form_row(form.newWeight) }}
                            {{ form_row(form.grossWeight) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_row(form.color) }}
                            {{ form_row(form.yearMade) }}
                            {{ form_row(form.isRightSteeringWheel) }}
                            {{ form_row(form.notes) }}
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="documents">Документи на МПС</label>
                                <input type="file" id="documents" name="documents[]" class="form-control-file"
                                       placeholder="Документи на МПС..." multiple>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{{ path('policy_index') }}" title="Назад" class="btn btn-secondary"><i class="fas fa-undo-alt"></i>
                        Отмяна</a>
                    <button type="submit" class="btn btn-dark float-right"><i
                                class="fas fa-plus-circle"></i> Добави
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- https://github.com/PUGX/PUGXAutoCompleterBundle/blob/master/docs/index.md -->
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="{{ asset('bundles/pugxautocompleter/js/autocompleter-jqueryui.js') }}"></script>
    <script>
      (function ($) {
        'use strict'
        $(function () {
          $('#form_car').autocompleter({
            url_list: '{{ path('policy_search_car') }}',
            min_length: 2,
            on_select_callback: function (ui) {
              console.log($(ui).val())
            }
          })
        })
      })(jQuery)
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css"/>
{% endblock %}
