{% extends 'base.html.twig' %}

{% block body %}
    <h1>Създаване на полица {{ policyType.name }}</h1>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="row">
        <div class="col-md-12">
            {% include 'policy/partials/form-fields.html.twig' %}
        </div>
        <div class="col-md-12 mt-3">
            <a href="{{ path('policy_index') }}" class="btn btn-secondary"><i class="fas fa-undo-alt"></i> Отмяна</a>
            <button type="submit" class="btn btn-primary float-right"><i class="fa fa-check"></i> Създай</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/policy-form.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .payments > li > div:first-child {
            display: flex;
        }
    </style>
{% endblock %}
