{% extends 'base.html.twig' %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('car_index') }}">Списък</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ car.carType.name }} {{ car.idNumber }}</li>
        </ol>
    </nav>
{% endblock %}

{% block body %}
    <h3>Редактиране на МПС</h3>
    <div class="row">
        <div class="col-md-12">
            <div class="text-muted mb-2">
                <small>
                    Създадено на {{ car.createdAt|date('d.m.Y H:i:s') }} ч. от {{ car.author.fullName ?? '--' }} |
                    Последна редакция на {{ car.updatedAt|date('d.m.Y H:i:s') }} ч.
                    от {{ car.updater.fullName  ?? '--' }}
                </small>
            </div>
        </div>
    </div>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}, 'multipart': true}) }}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Данни за МПС</h5>
                </div>
                <div class="card-body">
                    {% include 'car/forms/car.html.twig' with {'form': form, 'car': car, 'refUrl': refUrl} only %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="accordion" id="accordionCar">
                <div class="card">
                    {% if car.owner %}
                        <div class="card-header" id="headingOwner">
                            <h5 class="mb-0">
                                <a href="#" data-toggle="collapse" data-target="#collapseOwner"
                                   aria-expanded="true" aria-controls="collapseOwner">
                                    Собственик:
                                    <small>{{ car.owner.firstName }} {{ car.owner.lastName }}</small>
                                </a>
                                <a href="{{ path('car_new_owner', {'car': car.id, 'type': 'owner', 'ref': refUrl}) }}"
                                   class="float-right text-dark"
                                   title="Смяна на собственика"><i class="fas fa-exchange-alt"></i></a>
                            </h5>
                        </div>
                        <div id="collapseOwner" class="collapse show" aria-labelledby="headingOwner"
                             data-parent="#accordionCar">
                            <div class="card-body">
                                {% include 'car/forms/owner.html.twig' with {'form': form.owner} only %}
                            </div>
                        </div>
                    {% else %}
                        <div class="card-header">
                            <a href="{{ path('car_new_owner', {'car': car.id, 'type': 'owner', 'ref': refUrl}) }}"
                               title="Добави собственик" class="btn btn-warning float-right"
                            ><i class="fas fa-user-plus"></i> Добави собственик</a>
                        </div>
                    {% endif %}
                </div>
                <div class="card">
                    {% if car.representative %}
                        <div class="card-header" id="headingRepresentative">
                            <h5 class="mb-0">
                                <a href="#" data-toggle="collapse" data-target="#collapseRepresentative"
                                   aria-expanded="true" aria-controls="collapseRepresentative">
                                    Пълномощник:
                                    <small>{{ car.representative.firstName }} {{ car.representative.lastName }}</small>
                                </a>
                                <a href="{{ path('car_new_owner', {'car': car.id, 'type': 'representative', 'ref': refUrl}) }}"
                                   class="float-right text-dark"
                                   title="Смяна на пълномощника"><i class="fas fa-exchange-alt"></i>
                                </a>
                            </h5>
                        </div>
                        <div id="collapseRepresentative" class="collapse" aria-labelledby="headingRepresentative"
                             data-parent="#accordionCar">
                            <div class="card-body">
                                {% include 'car/forms/representative.html.twig' with {'form': form.representative, 'car': car, 'deleteButton': true} only %}
                            </div>
                        </div>
                    {% else %}
                        <div class="card-header">
                            <a href="{{ path('car_new_owner', {'car': car.id, 'type': 'representative', 'ref': refUrl}) }}"
                               title="Добави пълномощник" class="btn btn-warning float-right"
                            ><i class="fas fa-user-plus"></i> Добави пълномощник</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-3">
            <a href="{{ path('car_index') }}" class="btn btn-secondary"><i class="fas fa-undo-alt"></i> Отмени</a>
            <button type="submit" class="btn btn-dark float-right"><i class="fa fa-check"></i> Съхрани</button>

            <div class="btn-group float-right mr-2">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><i
                            class="fas fa-plus-circle"></i> Създай полица
                </button>
                <div class="dropdown-menu">
                    {% for policy_type in policy_types.getAll %}
                        <a class="dropdown-item" href="{{ path('policy_new', {'typeOfPolicy': policy_type.id, 'car': car.id}) }}">{{ policy_type.name }}</a>
                    {% endfor %}
                </div>
            </div>

            {% if canDelete %}
                <a href="#"
                   data-href="{{ path('car_delete', {'car': car.id}) }}"
                   data-toggle="modal"
                   data-target="#confirm-delete"
                   data-message="Сигурни ли сте, че искате да изтриете това МПС?"
                   title="Моля, потвърдете"
                   class="btn btn-danger float-right mr-2"><i class="far fa-trash-alt"></i> Изтрий</a>
            {% endif %}
        </div>
    </div>
    {{ form_end(form) }}

    {% if car.policies|length %}
        <hr/>
        <h4>Полици</h4>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Вид</th>
                    <th scope="col">Издадена на</th>
                    <th scope="col">Застраховател</th>
                    <th scope="col">Агент</th>
                    <th scope="col">Валидна от</th>
                    <th scope="col">Изтича на</th>
                    <th scope="col">Дължимо</th>
                    <th scope="col">Платено</th>
                    <th scope="col">Баланс</th>
                    <th scope="col">&nbsp</th>
                </tr>
                </thead>
                <tbody>
                {% for policy in car.policies %}
                    <tr>
                        <th scope="row">{{ policy.idNumber }}</th>
                        <td>{{ policy.policyType.name }}</td>
                        <td>{{ policy.createdAt|date('d.m.Y') }}</td>
                        <td>{{ policy.insurer.name }}</td>
                        <td>{{ policy.agent.fullName }}</td>
                        <td>{{ policy.startsAt|date('d.m.Y') }}</td>
                        <td>{{ policy.expiresAt|date('d.m.Y') }}</td>
                        <td class="text-right">{{ policy.total }}</td>
                        <td class="text-right">{{ policy.paid }}</td>
                        <td class="text-right">{{ policy.balance }}</td>
                        <td class="text-right">
                            <a href="{{ path('policy_edit', {'id': policy.id}) }}" class="btn btn-sm btn-secondary"
                               title="Редактирай"><i class="fas fa-edit"></i> </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
