{% extends 'base.html.twig' %}

{% block body %}
    <h1>Редактиране на МПС</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}, 'multipart': true}) }}
    {% include 'car/partials/form-fields.html.twig' %}
    <div class="row">
        <div class="col-md-12 mt-3">
            <a href="{{ path('car_index') }}" class="btn btn-secondary"><i class="fas fa-undo-alt"></i> Отмяна</a>
            <button type="submit" class="btn btn-primary float-right"><i class="fa fa-check"></i> Съхрани</button>
        </div>
    </div>
    {{ form_end(form) }}


    <ul>
        <li>
            <a href="{{ path('car_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
