{% extends 'base.html.twig' %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Списък</li>
        </ol>
    </nav>
{% endblock %}

{% block body %}
    <h3>Списък на МПС</h3>
    <div id="cars" class="table-responsive">Зареждане...</div>
    <ul class="list-unstyled mb-0">
        <li>
            <a href="{{ path('car_new') }}" class="btn btn-dark"><i
                        class="fas fa-plus-circle"></i> Ново МПС</a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript"
            src="//cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.4/b-html5-1.5.4/b-print-1.5.4/datatables.min.js"></script>
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    <script>
      $(function () {
        $('#cars').initDataTables({{ datatable_settings(datatable) }}, {
          language: {
            url: 'https://cdn.datatables.net/plug-ins/1.10.15/i18n/Bulgarian.json'
          },
          searching: true,
          dom: '<"html5buttons"B>lTfgitp',
          buttons: [
            'copy',
            {extend: 'pdf', title: 'domains'},
            {extend: 'print'}
          ],

          stateSaveCallback: function (settings, data) {
            console.log('state saved...')
            // localStorage.setItem('DataTables_' + settings.sInstance, JSON.stringify(data))
          }

        }).then(function (dt) {
          // dt contains the initialized instance of DataTables
          dt.on('draw', function (el1, el2) {
            console.log('Redrawing table')
          })
        })
      })
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css"
          href="//cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.4/b-html5-1.5.4/b-print-1.5.4/datatables.min.css"/>
{% endblock %}
