{% extends 'base.html.twig' %}

{% block body %}
    <h1>Car</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ car.id }}</td>
            </tr>
            <tr>
                <th>Idnumber</th>
                <td>{{ car.idNumber }}</td>
            </tr>
            <tr>
                <th>Idframe</th>
                <td>{{ car.idFrame }}</td>
            </tr>
            <tr>
                <th>Carmake</th>
                <td>{{ car.carMake }}</td>
            </tr>
            <tr>
                <th>Carmodel</th>
                <td>{{ car.carModel }}</td>
            </tr>
            <tr>
                <th>Isrightsteeringwheel</th>
                <td>{% if car.isRightSteeringWheel %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Enginevol</th>
                <td>{{ car.engineVol }}</td>
            </tr>
            <tr>
                <th>Powkw</th>
                <td>{{ car.powKw }}</td>
            </tr>
            <tr>
                <th>Powhp</th>
                <td>{{ car.powHp }}</td>
            </tr>
            <tr>
                <th>Newweight</th>
                <td>{{ car.newWeight }}</td>
            </tr>
            <tr>
                <th>Grossweight</th>
                <td>{{ car.grossWeight }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ car.color }}</td>
            </tr>
            <tr>
                <th>Yearmade</th>
                <td>{{ car.yearMade }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if car.createdAt %}{{ car.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if car.updatedAt %}{{ car.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ car.notes }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('car_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('car_edit', { 'id': car.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
