{% extends 'base.html.twig' %}

{% block title %}Плащания по застраховки на МПС{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Плащания по застраховки на МПС</li>
        </ol>
    </nav>
{% endblock %}

{% block body %}
    <h4>Просрочени плащания</h4>
    {% include 'report/partials/table.html.twig' with {'payments': overdue_payments} only %}

    <h4>Плащания до 1 седмица</h4>
    {% include 'report/partials/table.html.twig' with {'payments': payments_after_one_week} only %}

    <h4>Плащания до 2 седмици</h4>
    {% include 'report/partials/table.html.twig' with {'payments': payments_after_two_weeks} only %}

    <h4>Плащания до 3 седмици</h4>
    {% include 'report/partials/table.html.twig' with {'payments': payments_after_three_weeks} only %}

    <div class="modal fade" id="reminderInfoModal" tabindex="-1" role="dialog" aria-labelledby="reminderInfoLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reminderInfoLabel">Напомняне</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="reminderInfoBody">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="far fa-window-close"></i> Затвори</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://js.pusher.com/4.3/pusher.min.js"></script>
    <script>
      // Pusher.logToConsole = true;

      var pusher = new Pusher('{{ pusher_key }}', {
        cluster: '{{ pusher_cluster }}',
        forceTLS: true
      })

      $(function () {
        var channel = pusher.subscribe('{{ pusher_channel }}')
        channel.bind('{{ event_name }}', function (data) {
          toggleReminder(data)
        })
      })
    </script>
    <script src="{{ asset('js/report-payment.js') }}"></script>
{% endblock %}
